<div class="container">
    <div class="row pb-5">
        <div class="col">
            <table mat-table [dataSource]="data" class="mat-elevation-z1 mt-3">
                <ng-container matColumnDef="dn">
                    <th mat-header-cell *matHeaderCellDef class="text-center">DN </th>
                    <td mat-cell *matCellDef="let user"> {{user.dn}} </td>
                </ng-container>
                <ng-container matColumnDef="Atencion">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Atencion </th>
                    <td mat-cell *matCellDef="let user"> {{user.Atencion}} </td>
                </ng-container>
                <ng-container matColumnDef="Fecha">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Fecha </th>
                    <td mat-cell *matCellDef="let user"> {{user.Fecha}} </td>
                </ng-container>
                <ng-container matColumnDef="Seguimiento">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Seguimiento </th>
                    <td mat-cell *matCellDef="let user" class="py-2">
                        <button class="btn btn-design" routerLink="/inicio/seguimiento/1">Contactar</button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="nombreColumnas"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: nombreColumnas"></tr>
            </table>
        </div>
    </div>
</div>