<div class="row">
    <div class="col-auto p-4 my-3 border">
        <h3>Estado:</h3>
        <mat-form-field appearance="fill" class="mb-0 rounded">
            <mat-label>Estado</mat-label>
            <mat-select [(value)]="estadoSeleccionado" (selectionChange)="buscarPorEstado($event)">
                <mat-option disabled value="">Seleccione una opcion</mat-option>
                <mat-option *ngFor="let estado of Estados" [value]="estado">{{estado}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col my-3 p-4">
        <h3>Pdv con Registros: </h3>
        <h4 *ngIf="cargando">Cargando...</h4>
        <table class="table" *ngIf="Registros.length > 0">
            <thead>
                <tr>
                    <th scope="col">ID_TIENDA</th>
                    <th scope="col">PDV</th>
                    <th scope="col">IDPDV</th>
                    <th scope="col">REGISTROS</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let registro of Registros">
                    <th scope="row">{{registro.ID_TIENDA}}</th>
                    <td>{{registro.NOMBRE_TIENDA}}</td>
                    <td>{{registro.IDPDV}}</td>
                    <td>{{registro.REGISTROS}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>