<div class="row p-3" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="col text-center text-white">
        <p class="lead mt-2">Proyecto 5la </p>
    </div>
</div>
<div class="row mt-2 px-2 pt-3 pb-1">
    <div class="col text-white text-center ">
        <p class="lead">CAC EJEMPLO</p>
    </div>
</div>
<hr style="background-color: white;">
<div class="row mt-2 text-white">
    <div class="col-12 mb-2 opacity-25">
        Registros:
    </div>
    <div [routerLink]="['/inicio/registros']" routerLinkActive="activeLink" class="col-12 p-2 titulo border my-1 rounded ps-3 mt-2">
        Nuevos Registros.
    </div>
    <div [routerLink]="['/inicio/seguimiento']" routerLinkActive="activeLink" class="col-12 p-2 titulo border my-1 rounded ps-3">
        Seguimiento
    </div>
    <!-- <div [routerLink]="['/finalizado']" routerLinkActive="activeLink" class="col-12 p-2 titulo border my-1 rounded ps-3">
        Finalizados
    </div> -->
</div>
<hr style="background-color: white;">
<div class="row mt-2 text-white">
    <div class="col-12 mb-2 opacity-25">
        Pdv:
    </div>
    <div routerLinkActive="activeLink" class="col-12 p-2 titulo border my-1 rounded ps-3">
        Configuracion
    </div>
    <div routerLinkActive="activeLink" class="col-12 p-2 titulo border my-1 rounded ps-3">
        Carga de Informacion
    </div>
</div>