<div class="row p-3" style="background-color: rgba(250, 250, 250, 0.8);">
    <div class="col text-center">
        <p class="lead mt-2">Proyecto 5la </p>
    </div>
</div>
<div class="row mt-2 p-3">
    <div class="col text-white text-center  opacity-50">
        <p class="lead" style="font-size: 30px; line-height: 32px;">CAC PLAZA SATELITE</p>
    </div>
</div>
<hr style="background-color: white;">
<div class="row mt-2 text-white">
    <div class="col-12 mb-2 opacity-25">
        Registros:
    </div>
    <div class="col-12 p-2 border my-1 rounded ps-3 mt-2">
        Nuevos Registros.
    </div>
    <div class="col-12 p-2 border my-1 rounded ps-3">
        Seguimiento
    </div>
    <div class="col-12 p-2 border my-1 rounded ps-3">
        Finalizados
    </div>
</div>
<hr style="background-color: white;">
<div class="row mt-2 text-white">
    <div class="col-12 mb-2 opacity-25">
        Pdv:
    </div>
    <div class="col-12 p-2 border my-1 rounded ps-3">
        Configuracion
    </div>
    <div class="col-12 p-2 border my-1 rounded ps-3">
        Carga de Informacion
    </div>
</div>