<div class="container">
    <div class="row my-4 p-2 align-items-center justify-content-around px-3">
        <div class="col-7 rounded" style="background-color: rgba(0, 0, 0, 0.1);">
            <h1 class="lead mt-2">Informacion</h1>
            <dl class="row">
                <dt class="col-sm-3">Dn:</dt>
                <dd class="col-sm-9">
                    {{Registro.DN}}
                </dd>
                <dt class="col-sm-3">Fecha de visita</dt>
                <dd class="col-sm-9">
                    {{Registro.FECHA_VISITA | date:"longDate"}}
                </dd>
                <dt class="col-sm-3">Nombre</dt>
                <dd class="col-sm-9">
                    {{Registro.NOMBRE_CLIENTE}}
                </dd>

            </dl>
        </div>
        <div class="col-5">
            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label>Status del seguimiento</mat-label>
                    <mat-select [(value)]="statusRegistro">
                        <mat-option>None</mat-option>
                        <mat-option value="0" disabled>Registro sin contactar</mat-option>
                        <mat-option value="1" disabled>Registro contactado</mat-option>
                        <mat-option value="2">Registro pendiente</mat-option>
                        <mat-option value="3">Registro con cita</mat-option>
                        <mat-option value="4">Registro finalizado</mat-option>
                        <mat-option value="4">Registro con dn incorrecto</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row px-3">
                <a href="https://wa.me/+52{{Registro.DN}}" class="btn btn-success">Ver conversación</a>
            </div>
        </div>
    </div>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Contactar al cliente
                    </mat-panel-title>
                    <mat-panel-description>
                        <!-- Aqui un mensaje como listo -->
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row mt-2 align-items-center">
                    <div class="col-4">
                        <!-- <img src="/assets/perro.jpg" class="img-fluid" id="perrito"> -->
                        <img src="https://image.isu.pub/200910140942-f11811f40c5b929ca8a5df2e980eec11/jpg/page_1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-8">
                        <hr>
                        <p class="lead mb-3">{{mensaje}}
                        </p>
                        <a href="https://wa.me/525527186850?text={{mensaje}}" (click)="status=1" *ngIf="status == 0" target="_blank" class="btn btn-success w-25 me-4">Enviar mensaje</a>
                        <p class="lead text-muted text-end" *ngIf="status > 0">Mensaje enviado...</p>
                        <hr>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Self aware panel
                    </mat-panel-title>
                    <mat-panel-description>
                        Currently I am {{panelOpenState ? 'open' : 'closed'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="row text-white p-4 rounded" *ngIf="status > 0" style="background-color: rgba(0, 0, 0, 0.8); ">
        <div class="col lead ">
            Respuesta del cliente:
        </div>
        <div class="col ">
            <div class="form-check form-check-inline ">
                <input class="form-check-input " type="radio" name="inlineRadioOptions " id="inlineCheckbox1" (change)="cambiar($event)" [(ngModel)]="primer_respuesta" [value]="2">
                <label class="form-check-label " for="inlineCheckbox1 ">Positiva</label>
            </div>
            <div class="form-check form-check-inline ">
                <input class="form-check-input " type="radio" name="inlineRadioOptions " id="inlineCheckbox2 " (change)="cambiar($event)" [(ngModel)]=" primer_respuesta" [value]="1">
                <label class="form-check-label " for="inlineCheckbox2 ">Negativa</label>
            </div>
            <div class="form-check form-check-inline ">
                <input class="form-check-input " type="radio" name="inlineRadioOptions " id="inlineCheckbox3 " (change)="cambiar($event)" [(ngModel)]=" primer_respuesta" [value]="0" [disabled]="primer_respuesta >0">
                <label class="form-check-label " for="inlineCheckbox3 ">Sin responder</label>
            </div>
        </div>
    </div>
    <div class="row mt-5 justify-content-center " *ngIf="status==2 ">
        <p class="lead mb-3 ">
            ¡Muchas gracias por su interés! Le atendere personalmente para que conozca los mejores equipos y nuestros descuentos.
            <br> ¿En que horario puede acudir el dia de hoy a Movistar <b>{{nombrePdv}}</b>?
        </p>
        <a href="https://wa.me/525562575417?text={{mensaje2}} " target="_blank " class="btn btn-success w-25 ">Enviar mensaje</a>
        <hr>
    </div>

    <div class="row mt-5 justify-content-center " *ngIf="status==3 ">
        <p class="lead mb-3 ">
            En Movistar <b>{{nombrePdv}}</b> estamos para atenderte en un horario de XX:XX A XX:XX, tenemos grandes DESCUENTOS en los mejores Smarthphones, con gusto podemos brindarte más Información para que estrene HOY mismo! Nuestra ubicación es:
        </p>
        <a href="https://wa.me/525562575417?text={{mensaje3}} " target="_blank " class="btn btn-success w-25 ">Enviar mensaje</a>
        <hr>
    </div>
</div>