<div class="container">
    <hr class="mt-4">
    <h1>Cargar tiendas</h1>
    <div class="row mt-4 p-3">
        <div class="col-12">
            <input type="file" name="data" id="data" (change)="leerArchivoTiendas($event)">
        </div>
        <div class="col-12 my-3">
            Info del archivo
            <div class="row">
                <div class="col-12">Resumen de carga ---> [{{tiendasCargadas}} de {{Tiendas.length}}]</div>
            </div>
        </div>
        <div class="col-12 mt-2">
            <button class="btn btn-secondary" (click)="guardarTiendas()">Guardar Info</button>
        </div>
    </div>
</div>